{% extends 'base.html.twig' %}

{% block title %}Môn Học{% endblock %}

{% block body %}
    <h1>Chi Tiết Môn Học</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Tên Môn Học</th>
                <td>{{ mon_hoc.TenMonHoc }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-outline-primary" > <a href="{{ path('app_mon_hoc_index') }}" >Trở Lại</a> </button> 
    <button class="btn btn-outline-primary" > <a href="{{ path('app_mon_hoc_edit', {'id': mon_hoc.id}) }}" >Cập Nhật</a> </button>


    {{ include('mon_hoc/_delete_form.html.twig') }}
{% endblock %}
