<form method="post" action="{{ path('app_lich_hoc_delete', {'id': lich_hoc.id}) }}" onsubmit="return confirm('Bạn Chắc Chắn Muốn Xóa Nó Chứ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lich_hoc.id) }}">
    <button class="btn btn-danger">Xóa</button>
</form>
