{% extends 'base.html.twig' %}

{% block title %}Thêm Lịch Học{% endblock %}

{% block body %}
    <h1>Thêm Lịch Học</h1>

    {{ include('lich_hoc/_form.html.twig') }}

    <button class="btn btn-outline-primary" > <a href="{{ path('app_diem_index') }}" >Trở Lại</a> </button>
{% endblock %}
