<form method="post" action="{{ path('app_lop_delete', {'id': lop.id}) }}" onsubmit="return confirm('Bạn có chắc chắn xóa chứ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lop.id) }}">
    <button class="btn btn-danger">Xóa</button>
</form>
