<form method="post" action="{{ path('app_hoc_sinh_delete', {'id': hoc_sinh.id}) }}" onsubmit="return confirm('Bạn Chắc Chắn Muốn Xóa Nó Chứ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hoc_sinh.id) }}">
    <button class="btn btn-danger">Xóa</button>
</form>
